body{
  background-color: #111820;
  color: #F3AA4E;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
  padding: 30px;
}

h1 {
  margin: 30px;
  font-size: 8rem;
  font-family: 'Lobster', cursive;
}

p {
  font-size: 2rem;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

